#section_2{
    width: 100vw;
    height: 1000px;
}

#sec2_Container1 {
    padding-top: 20vh;
    display: flex;
    height: 43vh;
}

#container1_left-section {
    flex: 1;
    padding-left: 14vw;
}

#container1_right-section {
    flex: 1;
    padding-right: 14vw;
}


#sec2_BorderText{
    margin: 0px;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px #00C897;
}

#sec2_normalText{
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    font-weight: 700;
    color: #00C897;
}



.sec2_grid-container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
}

.sec2_grid-item {
    border-radius: 10px;
    border: 2px solid #E2E2E2;
    padding: 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec2_Logo{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #00C897;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2_WorkFlowTopic{
    padding-top: 5px;
    color: black;
    margin: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.sec2_WorkFlowContent{
    padding-top: 2px;
    margin: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #808080;
}

#sec2_container2 {
    display: flex;
    height: 70vh;
}

#container2_left-section {
    padding-left: 14vw;
    flex: 1.5;
}

#container2_right-section {
    padding-right: 14vw;
    flex: 2;
}

#sec2_MyImg{
    width: 400px;
}

#sec2_headTopic{
    padding-top: 100px;
    padding-bottom: 10px;
    color: black;
    margin: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 500;
}

.sec2_para{
    padding-top: 20px;
    color: black;
    margin: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 300;
    color: #808080;
}

.sec2_button-container {
    padding-top: 30px;
    text-align: left;
}

.sec2_button {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 2px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #6B6E74;
    border-radius: 5px;
    color: #333;
    background-color: #fff;

    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #6B6E74;
}

#sec2_btn1{
    border-color: #00C897;
    color: #00C897;
}
