#section_1{
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-image: url("../image/Section_1/Section_1-Bg_Image.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec1_Img {
    width: 150px;
}

#sec1_HeadText{
    color: white;
    margin: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
}

#sec1_SubText{
    margin: 5px;
    text-align: center;
    width: 550px;
    color: #CAD3D5;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

#section_1>button{
    margin: 10px;
    background-color: #00C897;

}

#section_1>button>h6{
    margin: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
}