#section_9{
    margin-top: 100px;
    margin-bottom: 80px;
}

#sec_9Topics{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec9_HeadText{
    color: #00C897;
    margin: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#sec9_SubText{
    margin: 5px;
    text-align: center;
    width: 350px;
    color: #6B6E74;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

#sec_9Main{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 14vw;
    padding-left: 14vw;
}

.sec_9Grid-container{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.sec_9Grid-item{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px;

    background-color: white;
    height: 380px;
    width: 400px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;

    transition: box-shadow 1s ease;
}

.sec_9Topic{
    margin: 0;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}

.sec_9Sub{
    margin: 0;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    color: #6B6E74;
}

.sec_9Btn>h6{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 12px;
    margin-left: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
}

.sec_9Btn{
    margin-top: 40px;
    background-color: #00C897;
    border: none;
    border-radius: 5px;
}
