#section_4{
    background-color: #F9FAFB;
}

#section_4Main{
    padding-left: 14vw;
    padding-right: 14vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec_4Topics{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec4_HeadText{
    color: #00C897;
    margin: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#sec4_SubText{
    margin: 5px;
    text-align: center;
    width: 300px;
    color: #6B6E74;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.sec_4Grid-container {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.sec_4Grid-item{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 30px;
    padding-top: 40px;

    background-color: white;
    height: 280px;
    width: 336px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;

    transition: box-shadow 0.8s ease;
}

.sec_4Grid-item:hover{
    box-shadow: 0 0 15px #CAD3D5;
}

.sec_4GridTopic{
    padding-top: 30px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.sec_4GridDes{
    padding-top: 20px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #808080;
}

.sec_4GridReadMore{
    width: 70px;
    margin-top: 25px;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.sec_4GridReadMore:hover{
    color: #00C897;
    cursor: pointer;
}



