#section_3{
    padding-top: 150px;
    padding-left: 14vw;
    padding-right: 14vw;
}

#sec_3Topics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sec3_HeadText{
    color: #00C897;
    margin: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#sec3_SubText{
    margin: 5px;
    text-align: center;
    width: 380px;
    color: #6B6E74;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.sec_3Grid-container {
    padding-top: 40px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.sec_3Grid-item{
    display: flex;
    padding: 15px;
    padding-left: 18px;

    height: 75px;
    width: 259px;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.sec_3Grid-item:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {
    .sec_3Grid-item {
        margin-right: 10px;
    }
}

.sec_3RotateRec{
    height: 40px;
    width: 40px;
    background-color: #CCF4EA;
    border-radius: 5px;
    rotate: 45deg;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec_3BoxPara{
    margin: 10px;
    margin-left: 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 500;
}